@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --violet: #2A324B;
    --blue: #58699D;
    --gray: #E1E5EE;
    --white: #fff;
}

body {
    background-color: var(--gray);
}