@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --violet: #2a324b;
  --blue: #58699d;
  --gray: #e1e5ee;
  --white: #fff;
}

* {
  font-family: "Montserrat", serif;
}

body {
  background-color: var(--gray);
}

header {
  display: flex;
  justify-content: left;
  align-items: baseline;
  margin: 0 60px;
  max-width: 100%;

  nav ul {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    flex-direction: row;
    list-style: none;
  }
}

main {
  display: flex;
  justify-content: left;
  background-color: var(--white);
  padding: 100px;
  margin: 0px 100px;
  max-width: 75%;

  h3 {
    color: var(--violet);
    font-size: 28px;
  }

  a {
    color: var(--blue);
  }
}

button {
  font-size: 24px;
  padding: 1rem 40px;
  border: none;
  font-weight: bold;
  background: var(--violet);
  color: var(--white);
}

.active {
  background-color: var(--white);
  color: var(--violet);
}
