@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --violet: #2A324B;
    --blue: #58699D;
    --gray: #E1E5EE;
    --white: #fff;
}

* {
    font-family: "Montserrat", serif;

}

body {
    background-color: var(--gray);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    nav ul {
        display: flex;
        gap: 1rem;
        flex-direction: row;
        list-style: none;

    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);

    h3 {
        color: var(--violet);
        font-size: px;
    }

    a {
        color: var(--blue);
    }
}

button {
    font-size: 32px;
    border: none;
    font-weight: bold;
    background: var(--violet);
    color: var(--white)
}

